<div class="col-md-4 aboutme">
<h2 class="umsoboname">Umsobo <small class="journeyheading">Journey of Kwame Ampem</small></h2>

<img src="assets/ampemk.jpg" class="img-responsive circle myphoto">
</div>
